@font-face {
  font-family: 'Cocogoose-Condensed';
  src:
    url('./assets/fonts/CocogooseCondensed-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Cocogoose-Condensed';
  src:
    url('./assets/fonts/CocogooseCondensed-LightItalic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Cocogoose-Pro';
  src:
    url('./assets/fonts/CocogoosePro-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Cocogoose-Condensed';
  src:
    url('./assets/fonts/CocogooseCondensed-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}


body {
  background: #fff;
  max-width: 70vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'Cocogoose-Condensed', sans-serif;
}

main {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  animation: zoomIn 2s ease;
}

.left span {
  position: absolute;
}

.right {
  text-align: right;
  width: 50%;
  opacity: 0;
  animation: fadeInRight 1.5s ease 2s forwards;
}

.subtitle {
  font-family: 'Cocogoose-Condensed', sans-serif;
  font-weight: 300;
}

.display {
  font-size: 8em;
  line-height: 0.8;
  color: #FF0000;
  text-transform: uppercase;
  margin-left: 8vw;
  opacity: 0;
  animation: fade 2s ease 1.5s forwards;

}

time {
  font-size: 2em;
  color: #FF0000;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5em;
  text-transform: uppercase;
}

h1:first-line {
  font-style: normal;
}

h2, h3, h4 {
  font-family: 'Cocogoose-Pro', sans-serif;
  font-weight: 300;
  line-height: 1.75;
  font-size: 1em;
}

h3 {
  color: #FF0000;
  margin-bottom: 5vh;
}

h4 {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: super;
  font-size: 0.8em;
}

.right h2 {
  max-width: 65%;
  margin-left: 35%;
  margin-bottom: 5vh;
}

img {
  z-index: 1;
  max-width: 100%;
}

.hva {
  margin-left: 2em;
}

a {
  background: #FF0000;
  text-decoration: none;
  padding: 0.7em 1.2em;
  color: #fff;
  text-transform: uppercase;
  transition: all 250ms ease;
}

.secondary {
  background: #000;
}

.primary:hover,
.primary:focus {
  background: rgb(218, 0, 0);
}

.secondary:hover,
.secondary:focus {
  background: rgb(63, 63, 63);
}

a:focus {
  outline: 3px dotted #FF0000;
}

.display i {
  margin-left: -20px;
}

.hva-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
  width: 10em;
}

@media only screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    height: 100%;
  }

  body {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 100%;
  }

  .left, .right {
    width: 100%;
  }

  .right {
    text-align: left;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .left {
    margin-top: 10vh;
  }

  .right h2 {
    max-width: 100%;
    margin-left: 0%;
  }

  h2 {
    margin-left: 0%;
    max-width: 100%;
  }

  h1 {
    font-size: 2.5em;
  }

  time {
    font-size: 1.5em;
  }

  .display {
    font-size: 4em;
  }

  .hva-logo {
    margin-left: 5vw;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border: solid 0.2rem #000;
  font-family: 'Cocogoose-Pro', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

table td {
  padding: 1em;
  border: solid 0.2rem #000;
}

table td:first-child {
  width: 15%;
}


table th {
  background: #000;
  color: #fff;
  height: 5vh;
  text-align: left;
  padding-left: 1em;
}

.default h2 {
  font-size: 2.2em;
  font-family: 'Cocogoose-Condensed',sans-serif;
  font-weight: 400;
  color: #FF0000;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.default {
  margin-top: 10vh;
}

table:last-child {
  margin-bottom: 10vh;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
